## Final Project Submission

Please fill out:
* Student name: PATIENCE ANONO
* Student pace: FULL TIME
* Scheduled project review date/time: 
* Instructor name: MARK TIBA
* Blog post URL:

1. Introduction
In this project,Microsoft was launching a new movie studio and i had to make recommendations to the stake holders.
I had to find out what types of films are doing best in the current market at the moment and present the findings to the Microsoft executives.I used exploratory data analysis to generate insights for the business.

2. Business Problem<br>

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. To help them ,i decided to for moving that performed the best in the past 5 years.After my survey,i found a lot of information on individual movies.

2.3. Objectives<br>
As a consultant, i decided to focus my analysis on:
1.High level recommendation on genres because once the studio understood what sort of films they wanted to make,they would make better decisons.
2.The most lucrative time to release the movies.
3.The production budget to achieve the highest likely returns on investment.

3. Data Understanding<br>
I utilized different sources for my analysis.
These are some of the skills i used.
Webscraping, storing and cleaning the data in a pandas dataframe, and visualization of data using seaborn and matplotlib.

Data Preparation

4.Loading Data into our jupyter notebook.
4.1 Importing required Libraries

In [68]:
# importing the necessary packages to use for this project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import csv
import sqlite3
%matplotlib inline

In [90]:
#moving into the folder to get the files
! ls

README.md
student.ipynb
zippedData

In [91]:
cd zippedData

C:\Users\Patience\Documents\Github\project1\zippedData

In [92]:
! ls

bom.movie_gross.csv.gz
im.db
im.db.zip
rt.movie_info.tsv.gz
rt.reviews.tsv.gz
tmdb.movies.csv.gz
tn.movie_budgets.csv.gz

Movie Info Data
Now we read the data files contained in the folder

In [134]:
# Load 'rt.movie_info.tsv.gz' as a DataFrame.The first 5 rows.
data = pd.read_table('rt.movie_info.tsv.gz')
data.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

Accessing Data from the DataFrame

In [107]:
#lets put the read information into an assigned variable df and Get a concise summary of the data using .info()
data = pd.read_table('rt.movie_info.tsv.gz')
data.info()                                 #Get a concise summary of the data using .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [96]:
#Obtain a tuple representing the number of rows and number of columns
data.shape

(1560, 12)

In [122]:
data.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [119]:
relevant_features =  ['rating', 'genre', 'director']
relevant_features

['rating', 'genre', 'director']

Retrieving relevant Information.

In [125]:
#replacing the null with null string
for feature in relevant_features:
    data[feature] = data[feature].fillna('')

In [127]:
#combining all the relevant features
combined_features = data['rating']+' '+data['genre']+' '+data['director']
combined_features

0       R Action and Adventure|Classics|Drama William ...
1       R Drama|Science Fiction and Fantasy David Cron...
2       R Drama|Musical and Performing Arts Allison An...
3             R Drama|Mystery and Suspense Barry Levinson
4                         NR Drama|Romance Rodney Bennett
                              ...
1555    R Action and Adventure|Horror|Mystery and Susp...
1556    PG Comedy|Science Fiction and Fantasy Steve Ba...
1557    G Classics|Comedy|Drama|Musical and Performing...
1558    PG Comedy|Drama|Kids and Family|Sports and Fit...
1559    R Action and Adventure|Art House and Internati...
Length: 1560, dtype: object

In [116]:
# getting counts for each value in genre column
data['genre'].value_counts()

Drama                                                                                     151
Comedy                                                                                    110
Comedy|Drama                                                                               80
Drama|Mystery and Suspense                                                                 67
Art House and International|Drama                                                          62
                                                                                         ...
Art House and International|Drama|Sports and Fitness                                        1
Comedy|Documentary|Musical and Performing Arts|Special Interest                             1
Comedy|Cult Movies|Mystery and Suspense|Science Fiction and Fantasy                         1
Action and Adventure|Art House and International|Mystery and Suspense|Special Interest      1
Comedy|Drama|Kids and Family|Sports and Fitness                                             1
Name: genre, Length: 299, dtype: int64

In [98]:
# getting counts for each value in rating column
data['rating'].value_counts()

R        521
NR       503
PG       240
PG-13    235
G         57
NC17       1
Name: rating, dtype: int64

In [99]:
# generating descriptive statistics for box office
data['box_office'].describe()

count         340
unique        336
top       600,000
freq            2
Name: box_office, dtype: object

In [21]:
# generating descriptive statistics for production budget values
data['currency'].describe()

count     340
unique      1
top         $
freq      340
Name: currency, dtype: object

MOVIES

In [111]:
#Reading the csv file with movies
data_movies=pd.read_csv('tmdb.movies.csv.gz')
data_movies.head() #first 5 rows

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [131]:
# getting info for DataFrame
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [132]:
#number of rows and colums in my data frame
data_movies.shape

(26517, 10)

In [133]:
#selecting the relevant features for recommendation.
selected_features = ['popularity', 'release_date', 'vote_count']
selected_features

['popularity', 'release_date', 'vote_count']

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U1')) -> None

In [14]:
pd.read_csv('bom.movie_gross.csv.gz').head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [62]:
pd.read_csv('tn.movie_budgets.csv.gz').head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

Opening a connection to the database

In [63]:
conn = sqlite3.connect('im.db')
pd.read_sql("""SELECT * FROM persons ;""", conn).head()

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"